# os
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/

# composer
vendor/

# wordpress
/uploads/

# plugins
/plugins/*
!/plugins/wds-headless-core

# mu-plugins
/mu-plugins/*

# theme
/themes/twenty*
/themes/wds_headless/dist
!/themes/wds_headless/src/scss/plugins
!/themes/wds_headless/src/scss/vendor
